In [2]:
import pandas as pd
import re
df = pd.read_csv('IPTU_Part_01_750K.csv',encoding="ISO-8859-1", sep=';')
df_parte2 = pd.read_csv('IPTU_Part_02_750K.csv',encoding="ISO-8859-1", sep=';')
df_parte3 = pd.read_csv('IPTU_Part_03_970K.csv',encoding="ISO-8859-1", sep=';')
df_parte4 = pd.read_csv('IPTU_Part_04_750K.csv',encoding="ISO-8859-1", sep=';')
df_parte5 = pd.read_csv('IPTU_Part_05_750K.csv',encoding="ISO-8859-1", sep=';')
df = df.append(df_parte2)
df = df.append(df_parte3)
df = df.append(df_parte4)
df = df.append(df_parte5)

In [64]:
metro_df = df['TIPO DE TERRENO'] == 'De esquina'
dados_df = df[metro_df]
valores_df = pd.DataFrame(dados_df.loc[:,['BAIRRO DO IMOVEL', 'AREA CONSTRUIDA']]['BAIRRO DO IMOVEL'].fillna('nenhum'))
valores_df['AREA CONSTRUIDA'] = dados_df.loc[:, 'AREA CONSTRUIDA']
total = valores_df.groupby(['BAIRRO DO IMOVEL', 'AREA CONSTRUIDA']).sum()

display(total)

Empty DataFrame
Columns: []
Index: [(#NOME?, 0), (#NOME?, 109), (#NOME?, 314), (#NOME?, 316), (&, 17), (&, 49), (&, 53), (&, 57), (&, 73), (&, 74), (&, 75), (&, 77), (&, 83), (&, 89), (&, 122), (&, 147), (&, 150), (&, 154), (&, 156), (&, 203), (&, 218), (&, 219), (&, 388), (&, 578), (& 2 VGS, 161), (& R WILSON NAHRA 128, 84), (&. TORRES DO MORUMBI, 257), (&AMPO BELO, 140), (&ANTA EFIGENIA, 86), (&AO PAULO FASHION HALL, 85), (&AO PAULO FASHION HALL, 149), (&ATUAPE, 60), (&AUDE, 68), (&AUDE, 102), (&AUDE, 124), (&D MIRIAM, 88), (&D MOEMA COMFORT HOTEL, 54), (&D MOEMA COMFORT HOTEL, 56), (&D PORTO SEGURO, 93), (&D RES MARQ. DE LAGES, 92), (&D STA TEREZINHA, 150), (&ES JD IASA, 174), (&GE, 125), (&ILA MADALENA, 23), (&J HAB JOSE BONIFACIO, 59), (&LOCO B, 81), (&LTO DE PINHEIROS, 77), (&NTERMEDIARIO, 27), (&OND RESID BORDEAUX, 84), (&ONJ HAB J BONIFACIO, 40), (&ONJ PE M DA NOBREGA, 57), (&Q ITAGUACU CANTAREIRA, 0), (&ROF MILTON RODRIGUES, 55), (&ROOKLIN NOVO, 85), (&TAQUERA, 52), ((ANTIGO AP 1), 59), ((ANTIGO AP 2), 65), ((ANTIGO N  569), 54), (,A E CARVALHO, 110), (-, 40), (-, 41), (-, 43), (-, 56), (-, 60), (-, 90), (-, 98), (-, 101), (-, 103), (-, 106), (-, 118), (-, 122), (-, 129), (-, 132), (-, 156), (-, 161), (-, 180), (-, 200), (-, 268), (-, 507), (-, 567), (-, 660), (-, 5341), (- QD. 23 - PQ ITAGUACU, 0), (-12, 2201), (-12-13-18- 1. SS., 526), (-201, 250), (-AB 137 138 139-AB, 724), (., 0), (., 12), (., 14), (., 16), (., 19), (., 23), (., 25), (., 34), (., 36), (., 38), (., 39), (., 43), (., 45), ...]

[103596 rows x 0 columns]